{% extends "base.html" %}

{% block title %}Главная - Блог{% endblock %}

{% block content %}
    <h1>Добро пожаловать в блог!</h1>
    <h6>Тут пользователи сайта могут делиться со своими новостями, историями и т.д.</h6>

    {% if posts %}
        {% for post in posts %}
            <div class="post">
                <h2><a href="{{ url_for('view_post', post_id=post[0]) }}">{{ post[1] }}</a></h2>
                <p>{{ post[2][:200] }}...</p>
                <p><small>Автор: {{ post[3] }} {{ post[4] }} | Дата: {{ post[5] }}</small></p>
            </div>
        {% endfor %}
    {% else %}
        <p>Пока нет постов.</p>
    {% endif %}
{% endblock %}
